.newsLetterInputBtn {
    display: flex;

}

.newsLetterSubmitBtn {
    background: #fc72a6;
    border: none;
    /* margin-left: 4px; */
    height: 50px;
    font-size: 19px;
    cursor: pointer;
    width: 40%;
}

.subscriptionInputHidden {
    display: none;
}